body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; /* Avoid scrollbars */
}

#panorama {
    width: 100%;
    height: 100%;
}

/* Pannellum loading indicator style overrides */
.pnlm-load-box {
    border-color: rgba(255, 255, 255, 0.8) !important;
}
.pnlm-load-indicator{
    border-color: rgba(255, 255, 255, 0.8) rgba(255, 255, 255, 0.8) rgba(255, 255, 255, 0.8) transparent !important;
}
